<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>247442822241-rsvasbr0qhroo663gmst57eukhjldbo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCruC9Exdzn6K849Igqzx8nUzUnnfmOjs0</string>
	<key>GCM_SENDER_ID</key>
	<string>247442822241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gitamapps.mygitamnew</string>
	<key>PROJECT_ID</key>
	<string>mygitam-2497a</string>
	<key>STORAGE_BUCKET</key>
	<string>mygitam-2497a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247442822241:ios:d4b9364973d11f60900620</string>
</dict>
</plist>